<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res_game_pk_qunPK_fire_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{726,140}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,105},{726,140}}</string>
                <key>sourceSize</key>
                <string>{726,380}</string>
            </dict>
            <key>res_game_pk_qunPK_fire_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{588,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,36},{588,308}}</string>
                <key>sourceSize</key>
                <string>{726,380}</string>
            </dict>
            <key>res_game_pk_qunPK_fire_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,114},{152,152}}</string>
                <key>sourceSize</key>
                <string>{726,380}</string>
            </dict>
            <key>res_game_pk_qunPK_fire_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,156},{380,372}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,0},{380,372}}</string>
                <key>sourceSize</key>
                <string>{726,380}</string>
            </dict>
            <key>res_game_pk_qunPK_fire_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,114},{152,152}}</string>
                <key>sourceSize</key>
                <string>{726,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pk_fire_animation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4428589c8d4d0ef811796397c02cd7fd:2eefd961848f45cc0eb17c68b754aa38:4d3b30659c7ff6d659ccd3655acab9da$</string>
            <key>textureFileName</key>
            <string>pk_fire_animation.png</string>
        </dict>
    </dict>
</plist>
