<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res_game_pk_pk_font_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{204,131}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{204,131}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>res_game_pk_pk_font_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{232,143}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,143}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>res_game_pk_pk_font_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,147},{232,143}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{232,143}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>res_game_pk_pk_font_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{232,143}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,143}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>res_game_pk_pk_font_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,151}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pk_text_animation.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8f84cdc5b47029b97f81a4dc5040b85:b9f455f1fc70e221bdc9c356e5e678b0:3ba94cf0acca17bb36cce3bd8ff8baeb$</string>
            <key>textureFileName</key>
            <string>pk_text_animation.png</string>
        </dict>
    </dict>
</plist>
