<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>winAnimation0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,464},{44,44}}</string>
                <key>offset</key>
                <string>{50,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,30},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{116,66}}</string>
                <key>offset</key>
                <string>{16,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,28},{116,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,464},{120,88}}</string>
                <key>offset</key>
                <string>{15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,28},{120,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,450},{120,94}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,27},{120,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,158},{154,132}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{154,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,156},{156,138}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{156,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{158,142}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{158,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,154},{158,144}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{158,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{160,150}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{160,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{158,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{158,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,156},{158,150}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{158,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{158,152}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{158,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,152}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{162,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{158,152}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{158,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,308},{156,154}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{156,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{156,152}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{156,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{154,154}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{154,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,300},{148,152}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{148,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,296},{144,152}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{144,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,292},{144,150}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{144,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,162},{142,148}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{142,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,312},{134,146}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{134,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,438},{132,140}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{132,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,448},{130,130}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{130,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,450},{126,128}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,45},{126,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,462},{76,84}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,51},{76,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,448},{32,32}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,101},{32,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>winAnimation0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,548},{22,22}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,106},{22,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winAnimation.png</string>
            <key>size</key>
            <string>{944,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a93313d632db718f0ed2145481fbe7c:1/1$</string>
            <key>textureFileName</key>
            <string>winAnimation.png</string>
        </dict>
    </dict>
</plist>
